@import "tailwindcss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


.custom-dialog-container {
  max-width: 90% !important;
  width: 800px;
  height: 700px;
  padding: 0; /* Remove extra padding if needed */
}

.centered-header {  
  .mat-sort-header-container {
    justify-content: center;
    margin-left: 1.5em;
  }
}
    

.th-header{
  border-radius: 30% !important;
}

/* user-dialog.component.scss or global styles.scss */
.custom-rounded-btn {
  border-radius: 0.575rem !important; /* Tailwind md = 0.375rem */
}

/* Target the page size box in paginator */
.custom-paginator .mat-paginator-page-size .mat-select-trigger {
  height: 2.5rem;             /* Adjust height */
  font-size: 0.875rem;        /* Adjust font size */
  padding-left: 0.5rem;       /* Left padding */
  padding-right: 0.5rem;      /* Right padding */
  border-radius: 0.5rem;      /* Rounded corners */
  border: 1px solid #cbd5e1;  /* Optional: add border */
  background-color: #f9fafb;   /* Optional: background */
}

/* Optional: change the dropdown panel border-radius */
.custom-paginator .mat-select-panel {
  border-radius: 0.5rem;
}

/* styles.scss or component scss */
::ng-deep .custom-rounded .mat-form-field-outline {
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Base state */
th .mat-mdc-form-field-flex {
  border-radius: 10px;
  border: 2px solid #334155;
  width: 11rem !important;
  transition: all 0.25s ease-in-out; /* smooth animation */
}


/* Focused state (when input is active) */
th .mat-mdc-form-field.mat-focused .mat-mdc-form-field-flex {
  border-color: #536074; /* Material blue accent */
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.4);
  transform: scale(1); /* subtle zoom */
}


.mat-mdc-form-field .mdc-notched-outline {
  display: none !important;
}

/* Hide the default underline and extra spacing under mat-form-field */
.mat-mdc-form-field-subscript-wrapper {
  border: none !important;
}

/* Remove the default underline line drawn by Material */
.mat-mdc-form-field-bottom-align::before {
  border-top: none !important;
  background: none !important;
  height: 0 !important;
}


.mat-mdc-form-field-subscript-wrapper {
  border: none !important;
  box-shadow: none !important;
}

//paginator
.mat-mdc-form-field-flex{
  border: 1px solid black;
  text-align: center;
  width: 20px;
}